<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ldap="http://www.springframework.org/schema/ldap"
	
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap-2.0.xsd
	">
	
	<!-- <ldap:context-source 
		password="${passwrod}"
		url="ldap://localhost:1888"
		username="${username}"
		base="dc=jayway,dc=se"
	></ldap:context-source> -->
	
	<ldap:ldap-template/>
	
	
</beans>